ul#parallax-1( data-fg-parallax="true"
  , data-mode='cursor' )
  //- li.layer.layer-1( 
    data-depth='0.10' 
  //- )
  //- li.layer.layer-2( 
   data-depth='0.20' 
  //- )
  //- li.layer.layer-3( 
    data-depth='0.30' 
  //- )
  //- li.layer.layer-4( 
    data-depth='0.40' 
  //- )
  li.layer.layer-5( 
    data-depth='0.40' 
  )
  //- li.layer.layer-6( 
    data-depth='0.60' 
  //- )

  //  
    data-depth='0.00' 
    , data-limit-x='0'
    , data-limit-y='10'
    , data-friction-x='0'
    , data-friction-y='0.01'
    , data-scalar-x='0'
    , data-scalar-y='0'
    , data-invert-x='false'
    , data-invert-y='false'
    , data-scalar-x='0'
    , data-scalar-y='8'
    , data-invert-x= 'false'
    , data-invert-y= 'false'
    , data-mode='cursor'